.navbar-perso {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #292d31;
    background: #040507;
    margin: 0;
    height: 66px;
    color: #555d64;
    font-size: 15px;
    font-family: 'Colfax';
    font-weight: bold;
    letter-spacing: .40px;
}

.icon {
    width: 43px;
    height: 36px;
}

.navbar-brand-perso {
    padding: 10px 10px 0 0;
    display: inline-block;
}

.navbar-nav.nav>li {
    margin-left: 10px;
}

.navbar-nav.nav>li>a {
    color: #555d64;
    padding-top: 23px;
    padding-bottom: 23px;
}

.nav>li.game-selected>a {
    color: #FFF;
}

.nav>li.game-selected>a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #5abbd4;
}

.games {
    margin: 10px 0;
}

.dropdown {
    background-color: initial;
}

.dropdown-menu {
    background-color: #040507;
    max-height: calc(100vh - 66px - 10px);
    overflow-y: auto;
}

.dropdown-menu>li:hover {
    background-color: rgba(255, 255, 255, .1);
}

.dropdown-menu>li.game-available {
  position: relative;
}

.fiber-record {
  position: absolute;
  top: 29px;
  left: 3px;
  user-select: none;
  pointer-events: none;
}

.dropdown-menu>li.game-available>a {
    color: #555d64;
    font-weight: bold;
    padding: 20px;
}

.dropdown>a:hover,
.dropdown-menu>li.game-available>a:hover,
.dropdown-menu>li.game-selected.game-available>a,
.nav>li:hover>a {
    color: #5abbd4;
    cursor: pointer;
    background-color: initial;
}
