@font-face {
    font-family: 'Colfax';
    font-weight: normal;
    src: url('../fonts/ColfaxWebRegular.woff2') format('woff2')
}

@font-face {
    font-family: 'Colfax';
    font-weight: bold;
    src: url('../fonts/ColfaxWebMedium.woff2') format('woff2')
}

html {
    height: 100%;
}

body {
    font-family: 'Colfax', 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin: 0;
    color: #d7d7d7;
    height: 100%;
}

i.material-icons {
    font-size: 16px;
    vertical-align: sub;
    line-height: 0;
}

.bg {
    background: url("/assets/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #15171a;
    filter: brightness(60%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.red {
    color: red;
}

.invisible {
    display: none !important;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

.view {
    height: 100%;
}

.main {
    height: calc(100% - 66px - 60px);
    overflow: auto;
}

.disclaimer {
    height: 60px;
    width: 100%;
    background-color: black;
    border-top: 1px solid #292d31;
    color: #555d64;
    padding: 10px 130px 10px 40px;
}

.loading-container {
    height: calc(100% - 66px - 60px);
}

.wrapper {
    text-align: center;
    padding: 0px;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    overflow: hidden;
}

.champion-square {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin: 2px 8px;
    background-position: -6px -6px;
    background-size: 70px;
    border-radius: 50%;
    display: inline-block;
    border: solid 2px #26292b;
    transition: border 0.3s ease-out;
    position: relative;
}

.player-level {
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: -4px;
    background-color: #26292b;
    border-radius: 50%;
    text-align: center;
    border: solid 1px white;
    line-height: 23px;
    font-size: 11px;
}

.blue-team .player-level {
    right: -4px;
}

.red-team .player-level {
    left: -4px;
}

.blue-team .player {
    padding-right: 30px;
}

.red-team .player {
    padding-left: 30px;
}

.blue-team .player:hover .champion-square,
.blue-team .player-container.hovered .champion-square {
    border: solid 2px #5abbd4;
}

.red-team .player:hover .champion-square,
.red-team .player-container.hovered .champion-square {
    border: solid 2px #d45959;
}

.player-item {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
    border: solid 1px #666;
    background-size: 42px;
    background-repeat: no-repeat;
    background-position: -2px -2px;
    position: relative;
}

.player-item>span {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    background-color: #26292b;
    border: solid 1px white;
    font-size: 14px;
    padding-left: 1px;
    padding-top: 1px;
    right: -4px;
    bottom: -4px;
}

.clickable:hover {
    cursor: pointer;
}

.player {
    height: auto;
    min-height: 120px;
    padding: 0;
    display: flex;
    align-items: center;
}

.player>div:not(.player-stuff) {
    flex: 1 0 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.red-team .player>div:not(.player-stuff) {
    justify-content: flex-start;
}

.player>div.player-stuff {
    flex: 1 1 40%;
}

.team {
    width: calc((100% - 532px)/2 - 6%);
    min-height: 628px;
    vertical-align: middle;
    background-color: #15171a;
    color: #d7d7d7;
    display: inline-block;
    flex: 1 1 30%;
}

.players-container {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.players-container>* {
    flex: 1 1 auto;
    display: flex;
}

.player-container {
    justify-content: center;
    display: flex;
    flex-flow: column;
}

.players-container>*:not(:last-child)>.player-container {
    border-bottom: solid 1px #292d31;
}

.player-container,
.header {
    width: 100%;
    position: relative;
}

.player-container:hover,
.player-container.hovered {
    background-color: #0e1012;
}

.game-info {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.blue-team {
    text-align: right;
    border-right: solid 1px #292d31;
}

.red-team {
    text-align: left;
    border-left: solid 1px #292d31;
}

.header-info {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    min-width: 400px;
    margin: 0;
    background-color: #15171a;
    border-bottom: solid 1px #292d31;
    position: relative;
}

.header-info>div {
    display: flex;
    position: relative;
    width: 50%;
}

.header-info>.header-blue {
    color: #3AABC3;
}

.header-info>.header-red {
    color: #B84750;
}

.header-info>img {
    position: absolute;
    top: 20px;
    height: 20px;
    transform: rotateZ(-45deg);
    left: calc(50% - 10px);
}

.header-info>div>div {
    width: 70%;
    margin-top: 16px;
}

.header-info>div>div>span {
    margin: 0 14px;
}

.header-info>div>div>span>img {
    height: 20px;
    margin: 0 4px;
}

.header-info>div>div>span>* {
    vertical-align: middle;
}

.header-info .team-name {
    font-size: 1.3em;
    margin-top: 12px;
    width: 20%;
}

.header-info .team-kills {
    width: 10%;
    margin-top: 14px;
    font-size: 1.1em;
}

.header-blue .team-kills {
    text-align: right;
    padding-right: 10px;
}

.header-red .team-kills {
    text-align: left;
    padding-left: 10px;
}

.blue-team .champion-square {
    margin-left: 6px;
}

.red-team .champion-square {
    margin-right: 6px;
}

.reverse {
    transform: rotateY(180deg);
}

.icon {
    width: 12px;
    margin: 2px;
}

.player-info {
    display: inline-block;
    vertical-align: middle;
}

.player-name {
    font-weight: bold;
}

.player-stats,
.player-stats>div {
    display: inline-block;
    vertical-align: middle;
}

.blue-team .player-name {
    color: #3AABC3;
}

.red-team .player-name {
    color: #B84750;
}

.divider {
    height: 1px;
    background-color: #292d31;
}

.indicator {
    height: 24px;
    width: 24px;
    background-color: black;
    margin: 2px;
}

.gold-diff {
    position: absolute;
    right: -26px;
    bottom: 14px;
    text-align: center;
    display: block;
    height: auto;
    width: 50px;
    border-radius: 10px;
    border: 1px solid black;
    background: #040507;
    z-index: 1;
}

.timer {
    font-size: 20px;
}

.loading {
    border: 1px solid gray;
    font-size: 20px;
    color: #b4914c;
    position: absolute;
    width: 60%;
    height: 14%;
    top: calc(50% - 100px);
    left: 0;
    right: 0;
    margin: auto;
    display: table;
}

.loading>div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.ng-cloak {
    display: none !important;
}

.player-dead {
    box-shadow: inset 0px 0px 20px -2px rgba(255, 0, 0, 0.5);
}

.baron-active {
    box-shadow: inset 0px 0px 20px -2px rgba(220, 0, 220, 0.5);
}

.stat-bars {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.stat-bar {
    height: 20px;
    background: #444;
    width: 80px;
    margin: 4px 0;
    border: solid 1px rgba(16, 16, 16, .6);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.stat-bar>span {
    display: block;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.stat-bar>span>div {
    height: 100%;
    width: 100%;
}

.health-bar>span>div {
    background: linear-gradient(to right, #24791e, #1ade0b);
}

.power-bar>span>div {
    background: linear-gradient(to right, #1e3c78, #1e78dc);
}

.energy-bar>span>div {
    background: linear-gradient(to right, #909028, #e4f92f)
}

.red-bar>span>div {
    background: linear-gradient(to right, #9b1b1b, #f92f2f);
}

.health-points {
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 0 0 2px black;
    font-weight: bold;
}

svg.lev-minimap {
    width: 512px;
    height: 512px;
    background-image: url('/assets/img/map.png');
    background-size: 100%;
    border: solid 1px #292d31;
    margin: 10px;
    display: block;
    flex: 0 0 auto;
}

svg.lev-minimap circle {
    transition: all 1s linear;
}

svg.lev-minimap>image {
    transform-origin: center;
}

.annonces {
    font-size: 22px;
    height: 80px;
    line-height: 80px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.annonces:empty {
    opacity: 0;
}

.lev-tooltip {
    opacity: 1;
}

.lev-tooltip>.arrow {
    display: none;
}

.lev-tooltip>.tooltip-inner {
    background-color: #010a13;
    opacity: 1;
    color: #cdbe91;
    padding: 10px;
    font-size: 14px;
    border: solid 1px #785a28;
    border-radius: 0px;
    max-width: 500px;
    text-align: left;
    transition: all 1s linear;
}

.item-tooltip {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.item-tooltip .player-item {
    border: solid 1px #292d31;
}