.bg {
	background: url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/stream_theater/fr_FR/4c11f49d46dd28da053cb8ed12e08c342b1f0b6c/assets/img/bg-broadcast-offline2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}