<div class="main" *ngIf="game">
    <app-lev-header [game]="game"></app-lev-header>
    <div class="wrapper">
        <div class="team blue-team">
            <div class="players-container">
                <app-lev-player *ngFor="let player of game.blueTeam.players; let first = first" [player]="player" [first]="first" [items]="items" [gameSelected]="gameSelected"></app-lev-player>
            </div>
        </div>
        <app-lev-map [game]="game" [gameSelected]="gameSelected"></app-lev-map>
        <div class="team red-team">
            <div class="players-container">
                <app-lev-player *ngFor="let player of game.redTeam.players; let first = first" [player]="player" [first]="first" [items]="items" [gameSelected]="gameSelected"></app-lev-player>
            </div>
        </div>
    </div>
</div>
<div class="loading-container" [class.invisible]="game">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="loading">
        <div>Please wait while loading</div>
    </div>
</div>
<div class="disclaimer">
    LoL Esports Viewer isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks
    of Riot Games, Inc. League of Legends © Riot Games, Inc.
</div>